

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0; /* Fondo del encabezado */
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333; /* Color de los enlaces */
}

nav ul li a:hover {
    color: #ff00cc; /* Cambia de color al pasar el mouse sobre los enlaces */
}

footer {
    background-color: #f0f0f0; /* Fondo del pie de página */
    padding: 20px;
    text-align: center;
}

/* Estilos específicos para index.html */
body.index {
    background-color: #ffe6f2; /* Fondo rosa claro */
}

body.index header h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente bonita y simple */
    font-size: 24px;
    color: #333; /* Color del texto del título */
}

/* Estilos específicos para los otros HTML */
body:not(.index) header h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente bonita y simple */
    font-size: 24px;
    color: #333; /* Color del texto del título */
}






/* Estilos generales */
body {
    font-family: 'Arial', sans-serif; /* Fuente por defecto */
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0; /* Fondo del encabezado */
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333; /* Color de los enlaces */
}

nav ul li a:hover {
    color: #ff00cc; /* Cambia de color al pasar el mouse sobre los enlaces */
}

footer {
    background-color: #f0f0f0; /* Fondo del pie de página */
    padding: 20px;
    text-align: center;
}

/* Estilos específicos para index.html */
body.index {
    background-color: #ffe6f2; /* Fondo rosa claro */
}

body.index header h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente bonita y simple */
    font-size: 24px;
    color: #333; /* Color del texto del título */
}

/* Estilos específicos para los otros HTML */
body:not(.index) header h1 {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif; /* Fuente amigable */
    font-size: 24px;
    color: #333; /* Color del texto del título */
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

