@import 'reset';
@import 'variables';
@import 'mixins';
@import 'extends';


h1 {
    color: $primary-color;
    @include text-underline;
}

#compras {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .producto {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
  
      img {
        max-width: 150px;
        margin-right: 20px;
      }
  
      .descripcion {
        h3 {
          margin: 0 0 10px 0;
        }
        p {
          margin: 0 0 10px 0;
        }
      }
    }
  
    #total-compra {
      text-align: center;
      font-size: 1.2em;
      margin-top: 20px;
    }
  }

  #contact-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    input, textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    textarea {
        height: 100px;
        resize: none;
    }
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        background-color: #555;
    }
}

.carousel-item {
    height: 600px; 

    img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }
}

.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  .navbar-brand {
    color: black !important;
  }

  .navbar-toggler {
    border: none;

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/ %3E%3C/svg%3E");
    }
  }

  .collapse {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;

    .navbar-nav {
      display: flex;
      gap: 1rem;

      .nav-link {
        color: whitesmoke !important;
        &:hover {
          color: lighten (whitesmoke, 20%) !important;
        }
      }
    }
  }
}
.footer {
  .image-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .image-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: calc(33.333% - 20px);
          margin-bottom: 20px;

          img {
              max-width: 100px; 
              height: auto;
              margin-right: 20px; 
          }

          .image-description {
              flex: 1;
              text-align: left;
          }
      }
  }
}


@media (max-width: 768px) {
  .footer {
      .image-container {
          flex-direction: column;

          .image-item {
              width: 100%;
              flex-direction: column;
              align-items: center;
              text-align: center;

              img {
                  margin-right: 0;
                  margin-bottom: 10px;
              }

              .image-description {
                  text-align: center;
              }
          }
      }
  }
}